services:
  - type: web
    name: blockify-backend
    env: node
    region: singapore
    plan: free
    rootDir: backend
    buildCommand: npm install && npm run build
    startCommand: node dist/index.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: FRONTEND_URL
        value: https://blockify-vn.vercel.app
      - key: TZ
        value: Asia/Ho_Chi_Minh