body { font-family: Arial, sans-serif; }
/* Navbar */
.navbar { background-color: #00a2ff; height: 10vh; }
.navbar .nav-link, .navbar-brand { color: #fff !important; }
.navbar .nav-link:hover { color: #000 !important; }
/* Hero Section */
.hero { background-color: #000; color: white; height:90vh; text-align: center; padding: 60px 0; }
.hero img { width: 200px; }
/* Intro Section */
.intro { padding: 40px 20px; text-align: center; background: #f5f5f5; }
/* Blue Section */
.blue-section { margin: 0; padding: 0; color: rgb(0, 0, 0); background-image: url('/images/Frame 26.png'); background-size: contain; background-repeat: no-repeat; height: 200vh; background-position: center; position: relative; }
/* Highlight Section */
.highlight { padding: 40px 20px; text-align: center; }
.highlight img { max-width: 100px; margin: 10px; }
/* Batman Section */
.batman { background: #00a2ff; padding: 30px; text-align: center; }
.batman img { max-height: 250px; }


